footer {
    background-color: #276678;
    color: white;
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.main .row {
    /* background-color: red; */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px 0 30px;
}

.main .logo {
    text-align: center;
    width: fit-content;
    /* background-color: rebeccapurple; */
}

.main-team {
    width: fit-content;
    /* background-color: yellowgreen; */
}

.main-contact {
    width: fit-content;
    /* background-color: blue; */
}

.main img {
    width: 200px;
    height: 150px;
}

.main h1 {
    font-weight: 600;
    margin-bottom: 20px;
}

.main-contact p i {
    margin-right: 100px;
}

p.copyright {
    text-align: center;
    font-weight: 500;
}

@media (max-width: 991px) {

    footer {
        min-height: 100vh;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .main .logo,
    .main-team,
    .main-contact {
        width: 100%;
        text-align: center;
        margin-top: 70px;
    }

    p.copyright {
        margin-top: 40px;
        margin-bottom: 50px;
    }

}

@media (max-width: 700px) {
    .main img {
        width: 150px;
        height: 100px;
    }

    .main h1 {
        font-size: 25px;
    }

    p {
        font-size: 13px;
    }

    p.copyright {
        text-align: center;
        max-width: 300px;
    }

    .cpr {
        display: flex;
        justify-content: center;
    }
}