* {
    font-family: 'Montserrat', sans-serif;
}

.member-banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    padding-top: 40px;
    background-color: #FEFEFE;
}

.member-banner .member-pict {
    width: fit-content;
}

.member-banner img {
    width: 350px;
}

.member-banner h1 {
    font-size: 60px;
    color: #276678;
    font-weight: 600;
    margin-bottom: 30px;
}

.member-banner h1 span {
    color: #1687A7;
    font-weight: 700;
}

.work-title {
    height: 100vh;
    background-color: #FEFEFE;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1687A7;
}

.work-title-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.work-title h1 {
    font-weight: 600;
    font-size: 90px;
}

.work-title p {
    font-size: 70px;
}

.port1,
.port2 {
    height: 100vh;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.port1 {
    background-color: #1687A7;
}

.port2 {
    background-color: white;
    color: white;
}

.port-cont {
    width: 90%;
    height: 85vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* padding: 20px; */
}

.port1 .port-cont {
    background-color: white;
}

.main-port {
    /* 795x499*/
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.port1 .main-port img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.port2 .main-port img {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.port1 .main-port {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.port2 .main-port {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* .main-port img {
    width: 100%;
} */

.desc-port {
    width: 30%;
    height: 100%;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
}

.port1 .desc-port {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
}

.desc-port h1 {
    font-weight: 700;
    color: #1687A7;
    margin-bottom: 15px;
}

.desc-port .p-tu {
    margin-bottom: 10px;
}

.desc-port .tech-used {
    margin-bottom: 20px;
}

.desc-port img {
    width: 30px;
}

.port1 .desc-port a {
    background-color: #1687A7;
    padding: 12px 24px;
    color: white;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
}

.port1 .desc-port a:hover {
    -moz-transform: scale(1.1) translate(10px, 0px);
    -webkit-transform: scale(1.1) translate(10px, 0px);
    -o-transform: scale(1.1) translate(10px, 0px);
    -ms-transform: scale(1.1) translate(10px, 0px);
    transform: scale(1.1) translate(10px, 0px);
    -webkit-box-shadow: -4px 6px 8px 2px rgba(0, 0, 0, 0.51);
    box-shadow: -4px 6px 8px 2px rgba(0, 0, 0, 0.51);
}

.port2 .port-cont {
    background-color: #1687A7;
}

.port2 .desc-port {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #1687A7;
}

.port2 h1 {
    color: white;
}

.port2 .desc-port a {
    background-color: white;
    padding: 12px 24px;
    color: #1687A7;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    justify-self: flex-end;
}

.port2 .desc-port a:hover {
    -moz-transform: scale(1.1) translate(10px, 0px);
    -webkit-transform: scale(1.1) translate(10px, 0px);
    -o-transform: scale(1.1) translate(10px, 0px);
    -ms-transform: scale(1.1) translate(10px, 0px);
    transform: scale(1.1) translate(10px, 0px);
    -webkit-box-shadow: -4px 6px 8px 2px rgba(0, 0, 0, 0.51);
    box-shadow: -4px 6px 8px 2px rgba(0, 0, 0, 0.51);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: gray;
    border-radius: 20px;
    width: 30px;
    padding: 20px;
}

@media (max-width: 1030px) {
    .member-review {
        max-width: 650px;
    }

    .member-review h1,
    .member-review p {
        text-align: center;
    }

    .work-title h1 {
        text-align: center;
    }

    .port1,
    .port2 {
        padding-top: 0;
    }

    .port-cont {
        flex-flow: column;
    }

    .main-port {
        width: 90%;
        order: 2;
    }

    .desc-port {
        width: 90%;
        padding: 0 20px;
        justify-content: center;
        align-items: flex-start;
    }

    .desc-port h1 {
        font-size: 50px;
        margin-bottom: 35px;
    }

    .desc-port p {
        font-size: 20px;
    }

    .desc-port .p-tu {
        margin-bottom: 10px;
    }

    .desc-port .tech-used {
        margin-bottom: 35px;
    }

    .desc-port img {
        width: 40px;
    }

    .desc-port a {
        margin-left: auto;
    }
}

@media (max-width: 991px) {
    .member-banner {
        justify-content: center;
        padding-top: 40px;
    }
}

@media (max-width: 700px) {
    .member-banner {
        padding-top: 10px;
    }

    .member-banner img {
        width: 220px;
    }

    .member-banner h1 {
        font-size: 30px;
    }

    .member-banner p {
        max-width: 300px;
        margin: 0 auto;
    }

    .member-review {
        margin-top: -80px;
    }

    .work-title h1 {
        font-size: 50px;
    }

    .desc-port {
        width: 70%;
        padding: 0;
        margin-top: 20px;
        justify-content: center;
        align-items: flex-start;
    }

    .desc-port h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .desc-port p {
        font-size: 15px;
    }

    .desc-port .p-tu {
        margin-bottom: 5px;
    }

    .desc-port .tech-used {
        margin-bottom: 25px;
    }

    .desc-port img {
        width: 30px;
    }

    .port-cont .desc-port a {
        margin-right: auto;
        margin-left: 0;
        padding: 7px 17px;
        font-size: 15px;
    }
}